<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
	
	 <!-- <context:property-placeholder location="classpath:db.properties"/>  -->
     
    <!--spring和mybatis结合   配置数据源 sqlsessionfactory对象等-->
    <!-- 获取数据库连接对象 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost:3306/crm</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>root</value>
		</property>
		<!-- 最大连接数 -->
	    <property name="maxActive">
			<value>80</value>
		</property>   
		<!-- 最大空闲连接数 -->
	   <property name="maxIdle">
			<value>20</value>
		</property>  
		<!-- 最大等待时间:当没有可用连接时,连接池等待连接被归还的最大时间 单位:毫秒 -->
		<!-- 超过时间则抛出异常,如果设置为-1表示无限等待 -->
	    <property name="maxWait">
			<value>3000</value>
		</property>   
	</bean>
	
	<!-- 配置sqlsessionFactory -->
	<!-- 查看源码便可知注入的property的名字 -->
	<!-- 可以读取mybatis-config.xml文件,也可以不读取,信息全都在配置在spring中 -->
	<!-- <property name="configLocation" value="classpath:mybatis-config.xml" /> -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.briup.bean"></property>
		<property name="configurationProperties">
            <props>
                <prop key="cacheEnabled">true</prop> 
                <prop key="lazyLoadingEnabled">false</prop> 
            </props>
        </property>
        <!--自动扫描映射文件  -->
		<property name="mapperLocations" value="classpath:com/briup/dao/*.xml"></property>
	</bean>
	
	<!-- 
		 扫描mapper接口所在的包名，当有多个包的时候，用半角逗号分隔即可,也可以使用*通配符
		 注意:这里不注入sqlSessionFactory也是可以的
    -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.briup.dao"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
</beans>
